## Exercises Lab09 Iterating Containers

`1`.  Make a 5 x 8 Numpy array of random integers from 1 - 10.

In [11]:
import numpy as np
randoms = np.random.randint(1, 11, (5, 8))
randoms

array([[ 6,  8,  6,  6,  8, 10,  7,  2],
       [ 1,  4,  1,  4,  9,  4,  2,  3],
       [ 8,  7,  9,  5,  2,  8,  9,  8],
       [ 9, 10,  5,  3,  6, 10,  5,  8],
       [ 2,  4, 10,  9,  5,  4,  3,  9]])

Iterate through each row of your array and report the rows where the numbers add to an even number.  You'll like the builtin function: `sum`.

In [12]:
even_sums = []
for row in randoms:
    row_sum = sum(row)
    if row_sum % 2 == 0:
        even_sums.append(str(row_sum))
print("The row-sums that are even are", ", ".join(even_sums) + '.')

The row-sums that are even are 28, 56, 56, 46.

In [13]:
# 2. Here are some data, already in a dataframe:
import pandas as pd
movies = pd.read_csv("DataSets/few_movies.csv")

In [14]:
movies.head()

,movie_title,title_year,actor_1_name,actor_2_name,movie_facebook_likes,imdb_score
0,The Dark Knight Rises,2012.0,Tom Hardy,Christian Bale,164000,8.5
1,WALL·E,2008.0,John Ratzenberger,Fred Willard,16000,8.4
2,Toy Story 3,2010.0,Tom Hanks,John Ratzenberger,30000,8.3
3,Captain America: Civil War,2016.0,Robert Downey Jr.,Scarlett Johansson,72000,8.2
4,The Avengers,2012.0,Chris Hemsworth,Robert Downey Jr.,123000,8.1

In [15]:
movies = movies.set_index('movie_title')

In [16]:
movies.head()

,title_year,actor_1_name,actor_2_name,movie_facebook_likes,imdb_score
movie_title,,,,,
The Dark Knight Rises,2012.0,Tom Hardy,Christian Bale,164000,8.5
WALL·E,2008.0,John Ratzenberger,Fred Willard,16000,8.4
Toy Story 3,2010.0,Tom Hanks,John Ratzenberger,30000,8.3
Captain America: Civil War,2016.0,Robert Downey Jr.,Scarlett Johansson,72000,8.2
The Avengers,2012.0,Chris Hemsworth,Robert Downey Jr.,123000,8.1

While the `movies` dataset displays very nicely in your notebook, many programs cannot display it because it has characters whose `ord(char)` is greater than 127, which means that it is not representable as an ascii character, or `utf-8`.  Use `iterrows` and Python to find the movies whose rows have characters that are not representable in ascii.

In [17]:
movie_titles_needing_unicode = []

for (title, fields) in movies.iterrows():
    title = title.strip()  # if you don't strip it, there is a strange white-space after each title.
    for char in title:
        if ord(char) > 127:
            movie_titles_needing_unicode.append(title)
            break
print(', '.join(movie_titles_needing_unicode))

WALL·E

In [18]:
movies_whose_fields_need_unicode = []
for (title, fields) in movies.iterrows():
    movie_appended = False
    for field in fields.values:
        if not isinstance(field, str):
            continue
        for char in field:
            if ord(char) > 127:
                movie_appended = True
                movies_whose_fields_need_unicode.append(title + ':' + field)
                break
        if movie_appended:
            break

print(', '.join(movies_whose_fields_need_unicode))

The Legend of Tarzan :Alexander Skarsgård, Battleship :Alexander Skarsgård