# Exercises Lab05 Sorting Containers

`1`.  Put an `X` under the correct answer for the result, by default, of each sort:

|with this sort| In Place | Not In Place|
    |-------------:|:---:|:----|
    |list.sort() |     |    |
    |sorted(list)|  |   |
    |np.array.sort()  |  |   |
    |np.sort(ndarray)  |  |   |
    |pd.Series.sort_values()|  |  |
    |pd.DataFrame.sort_values()       |   |   |

. `1`.  Put a `X` under the correct answer for the result, by default, of each data type's sort facilities:

|with this sort| In Place | Not In Place|
    |-------------:|:---:|:----:|
    |list.sort() |  X   |    |
    |sorted(list)|  |  X |
    |np.array.sort()  | X |   |
    |np.sort(ndarray)  |  | X  |
    |pd.Series.sort_values()|  | X|
    |pd.DataFrame.sort_values()       |   | X |

`2.`  Here is a list of names: ["Aaron", "Zoe", "Leonard", "Josephine", "Sebastian"]
    Produce this output:
        'Aaron, Josephine, Leonard, Sebastian, and Zoe.'

In [39]:
names = ["Aaron", "Zoe", "Leonard", "Josephine", "Sebastian"]
names.sort()
", ".join(name for name in names[:-1]) + ", and " + names[-1] + '.'

'Aaron, Josephine, Leonard, Sebastian, and Zoe.'

`3`. Sort the data by the salary, the last field.
```python
people_data = [['Tommy Savage', '408-724-0140', 'Sunnyvale, CA 94087', '5/19/16', 68400], 
               ['Lesle Kerstin', '408-456-1234', 'Boston, MA 02133', '4/22/12', 105200], 
               ['JonDeLoach', '408-253-3122', 'San Jose, CA 94086', '7/25/03', 170200], 
               ['Ephram Hardy', '293-259-5395', 'Joliet, IL 73858', '8/12/70', 113400], 
               ['Betty Boop', '245-836-2837', 'Milton, PA 93756', '9/21/96', 87000], 
               ['Wilhelm Kopf', '846-836-2837', 'Milton, PA 93756', '9/21/96', 87000], 
               ['Norma Corder', '397-857-2735', 'Dearborn, MI 23874', '3/28/95', 491400], 
               ['James Ikeda', '834-938-8376', 'Allentown, NJ 83745', '12/1/88', 90000], 
               ['Lori Gortz', '327-832-5728', 'Peabody, MA 34756', '10/2/02', 70400], 
               ['Barbara Kerz', '385-573-8326', 'Gary, IN 83756', '12/15/96', 53700]]

```

In [40]:
import pandas as pd

people_data = [['Tommy Savage', '408-724-0140', 'Sunnyvale, CA 94087', '5/19/16', 68400], 
               ['Lesle Kerstin', '408-456-1234', 'Boston, MA 02133', '4/22/12', 105200], 
               ['JonDeLoach', '408-253-3122', 'San Jose, CA 94086', '7/25/03', 170200], 
               ['Ephram Hardy', '293-259-5395', 'Joliet, IL 73858', '8/12/70', 113400], 
               ['Betty Boop', '245-836-2837', 'Milton, PA 93756', '9/21/96', 87000], 
               ['Wilhelm Kopf', '846-836-2837', 'Milton, PA 93756', '9/21/96', 87000], 
               ['Norma Corder', '397-857-2735', 'Dearborn, MI 23874', '3/28/95', 491400], 
               ['James Ikeda', '834-938-8376', 'Allentown, NJ 83745', '12/1/88', 90000], 
               ['Lori Gortz', '327-832-5728', 'Peabody, MA 34756', '10/2/02', 70400], 
               ['Barbara Kerz', '385-573-8326', 'Gary, IN 83756', '12/15/96', 53700]]

people_frame = pd.DataFrame(people_data)

people_frame.sort_values(by=4)

               0             1                    2         3       4
9   Barbara Kerz  385-573-8326       Gary, IN 83756  12/15/96   53700
0   Tommy Savage  408-724-0140  Sunnyvale, CA 94087   5/19/16   68400
8     Lori Gortz  327-832-5728    Peabody, MA 34756   10/2/02   70400
4     Betty Boop  245-836-2837     Milton, PA 93756   9/21/96   87000
5   Wilhelm Kopf  846-836-2837     Milton, PA 93756   9/21/96   87000
7    James Ikeda  834-938-8376  Allentown, NJ 83745   12/1/88   90000
1  Lesle Kerstin  408-456-1234     Boston, MA 02133   4/22/12  105200
3   Ephram Hardy  293-259-5395     Joliet, IL 73858   8/12/70  113400
2     JonDeLoach  408-253-3122   San Jose, CA 94086   7/25/03  170200
6   Norma Corder  397-857-2735   Dearborn, MI 23874   3/28/95  491400

In [41]:
 # 4. Here are these data again:
data = [['State', 'Capital', 'Largest City', 'Bird', 'Flower'] ,
        ['Alabama', 'Montgomery', 'Birmingham', 'Yellowhammer', 'Camellia'],
        ['Alaska', 'Juneau', 'Anchorage', 'Willow Ptarmigan', 'Forget-me-not'],
        ['Arizona', 'Phoenix', 'Phoenix', 'Cactus Wren', 'Saguaro Cactus Blossom'],
        ['Arkansas', 'Little Rock', 'Little Rock', 'Mockingbird', 'Apple Blossom'],
        ['California', 'Sacramento', 'Los Angeles', 'California Valley Quail', 'Golden Poppy'],
        ['Colorado', 'Denver', 'Denver', 'Lark Bunting', 'Columbine'],
        ['Connecticut', 'Hartford', 'Bridgeport', 'American Robin', 'Mountain Laurel'],
        ['Delaware', 'Dover', 'Wilmington', 'Blue Hen Chicken', 'Peach Blossom'],
        ['Florida', 'Tallahassee', 'Jacksonville', 'Mockingbird', 'Orange Blossom'],
        ['Georgia', 'Atlanta', 'Atlanta', 'Brown Thrasher', 'Cherokee Rose'],
        ['Hawaii', 'Honolulu', 'Honolulu', 'Nene (Hawaiian Goose)', 'Hibiscus'],
        ['Idaho', 'Boise', 'Boise', 'Mountain Bluebird', 'Syringa'],
        ['Illinois', 'Springfield', 'Chicago', 'Cardinal', 'Native violet'],
        ['Indiana', 'Indianapolis', 'Indianapolis', 'Cardinal', 'Peony'],
        ['Iowa', 'Des Moines', 'Des Moines', 'Eastern Goldfinch', 'Wild Rose'],
        ['Kansas', 'Topeka', 'Wichita', 'Western Meadowlark', 'Native Sunflower'],
        ['Kentucky', 'Frankfort', 'Louisville', 'Kentucky Cardinal', 'Goldenrod'],
        ['Louisiana', 'Baton Rouge', 'New Orleans', 'Pelican', 'Magnolia'],
        ['Maine', 'Augusta', 'Portland', 'Chickadee', 'White Pine Cone and Tassel'],
        ['Maryland', 'Annapolis', 'Baltimore', 'Baltimore Oriole', 'Black-Eyed Susan'],
        ['Massachusetts', 'Boston', 'Boston', 'Chickadee', 'Mayflower'],
        ['Michigan', 'Lansing', 'Detroit', 'Robin', 'Apple Blossom'],
        ['Minnesota', 'St. Paul', 'Minneapolis', 'Common Loon', "Pink and White Lady's Slipper"],
        ['Mississippi', 'Jackson', 'Jackson', 'Mockingbird', 'Magnolia'],
        ['Missouri', 'Jefferson City', 'Kansas City', 'Bluebird', 'Hawthorn'],
        ['Montana', 'Helena', 'Billings', 'Western Meadowlark', 'Bitterroot'],
        ['Nebraska', 'Lincoln', 'Omaha', 'Western Meadowlark', 'Goldenrod'],
        ['Nevada', 'Carson City', 'Las Vegas', 'Mountain Bluebird', 'Sagebrush'],
        ['New Hampshire', 'Concord', 'Manchester', 'Purple Finch', 'Purple Lilac'],
        ['New Jersey', 'Trenton', 'Newark', 'Eastern Goldfinch', 'Purple Violet'],
        ['New Mexico', 'Santa Fe', 'Albuquerque', 'Roadrunner', 'Yucca Flower'],
        ['New York', 'Albany', 'New York', 'Bluebird', 'Rose'],
        ['North Carolina', 'Raleigh', 'Charlotte', 'Cardinal', 'Dogwood'],
        ['North Dakota', 'Bismarck', 'Fargo', 'Western Meadowlark', 'Wild Prairie Rose'],
        ['Ohio', 'Columbus', 'Columbus', 'Cardinal', 'Scarlet Carnation'],
        ['Oklahoma', 'Oklahoma City', 'Oklahoma City', 'Scissor-Tailed Flycatcher', 'Mistletoe'],
        ['Oregon', 'Salem', 'Portland', 'Western Meadowlark', 'Oregon Grape'],
        ['Pennsylvania', 'Harrisburg', 'Philadelphia', 'Ruffed Grouse', 'Mountain Laurel'],
        ['Rhode Island', 'Providence', 'Providence', 'Rhode Island Red', 'Violet'],
        ['South Carolina', 'Columbia', 'Columbia', 'Carolina Wren', 'Yellow Jessamine'],
        ['South Dakota', 'Pierre', 'Sioux Falls', 'Ring-Necked Pheasant', 'American Pasqueflower'],
        ['Tennessee', 'Nashville', 'Memphis', 'Mockingbird', 'Iris'],
        ['Texas', 'Austin', 'Houston', 'Mockingbird', 'Bluebonnet'],
        ['Utah', 'Salt Lake City', 'Salt Lake City', 'California Gull', 'Sego Lily'],
        ['Vermont', 'Montpelier', 'Burlington', 'Hermit Thrush', 'Red Clover'],
        ['Virginia', 'Richmond', 'Virginia Beach', 'Cardinal', 'Dogwood'],
        ['Washington', 'Olympia', 'Seattle', 'Willow Goldfinch', 'Western Rhododendron'],
        ['West Virginia', 'Charleston', 'Charleston', 'Cardinal', 'Big Rhododendron'],
        ['Wisconsin', 'Madison', 'Milwaukee', 'Robin', 'Wood Violet'],
        ['Wyoming', 'Cheyenne', 'Cheyenne', 'Meadowlark', 'Indian Paintbrush'],
        ['Washington, D.C.', 'None', 'Washington', 'Woodthrush', 'American Beauty Rose']]

> Sort them to discover which birds are the state bird for more than one state.

In [42]:
import pandas as pd
state_symbols = pd.DataFrame(data[1:], columns = data[0])
state_symbols = state_symbols.set_index("State")
state_symbols.sort_values("Bird")

,Capital,Largest City,Bird,Flower
State,,,,
Connecticut,Hartford,Bridgeport,American Robin,Mountain Laurel
Maryland,Annapolis,Baltimore,Baltimore Oriole,Black-Eyed Susan
Delaware,Dover,Wilmington,Blue Hen Chicken,Peach Blossom
Missouri,Jefferson City,Kansas City,Bluebird,Hawthorn
New York,Albany,New York,Bluebird,Rose
Georgia,Atlanta,Atlanta,Brown Thrasher,Cherokee Rose
Arizona,Phoenix,Phoenix,Cactus Wren,Saguaro Cactus Blossom
Utah,Salt Lake City,Salt Lake City,California Gull,Sego Lily
California,Sacramento,Los Angeles,California Valley Quail,Golden Poppy
North Carolina,Raleigh,Charlotte,Cardinal,Dogwood
Ohio,Columbus,Columbus,Cardinal,Scarlet Carnation
Virginia,Richmond,Virginia Beach,Cardinal,Dogwood
West Virginia,Charleston,Charleston,Cardinal,Big Rhododendron
Illinois,Springfield,Chicago,Cardinal,Native violet
Indiana,Indianapolis,Indianapolis,Cardinal,Peony
South Carolina,Columbia,Columbia,Carolina Wren,Yellow Jessamine
Massachusetts,Boston,Boston,Chickadee,Mayflower
Maine,Augusta,Portland,Chickadee,White Pine Cone and Tassel
Minnesota,St. Paul,Minneapolis,Common Loon,Pink and White Lady's Slipper
Iowa,Des Moines,Des Moines,Eastern Goldfinch,Wild Rose
New Jersey,Trenton,Newark,Eastern Goldfinch,Purple Violet
Vermont,Montpelier,Burlington,Hermit Thrush,Red Clover
Kentucky,Frankfort,Louisville,Kentucky Cardinal,Goldenrod
Colorado,Denver,Denver,Lark Bunting,Columbine
Wyoming,Cheyenne,Cheyenne,Meadowlark,Indian Paintbrush
Arkansas,Little Rock,Little Rock,Mockingbird,Apple Blossom
Mississippi,Jackson,Jackson,Mockingbird,Magnolia
Tennessee,Nashville,Memphis,Mockingbird,Iris
Texas,Austin,Houston,Mockingbird,Bluebonnet
Florida,Tallahassee,Jacksonville,Mockingbird,Orange Blossom
Nevada,Carson City,Las Vegas,Mountain Bluebird,Sagebrush
Idaho,Boise,Boise,Mountain Bluebird,Syringa
Hawaii,Honolulu,Honolulu,Nene (Hawaiian Goose),Hibiscus
Louisiana,Baton Rouge,New Orleans,Pelican,Magnolia
New Hampshire,Concord,Manchester,Purple Finch,Purple Lilac
Rhode Island,Providence,Providence,Rhode Island Red,Violet
South Dakota,Pierre,Sioux Falls,Ring-Necked Pheasant,American Pasqueflower
New Mexico,Santa Fe,Albuquerque,Roadrunner,Yucca Flower
Wisconsin,Madison,Milwaukee,Robin,Wood Violet
Michigan,Lansing,Detroit,Robin,Apple Blossom
Pennsylvania,Harrisburg,Philadelphia,Ruffed Grouse,Mountain Laurel
Oklahoma,Oklahoma City,Oklahoma City,Scissor-Tailed Flycatcher,Mistletoe
Oregon,Salem,Portland,Western Meadowlark,Oregon Grape
North Dakota,Bismarck,Fargo,Western Meadowlark,Wild Prairie Rose
Nebraska,Lincoln,Omaha,Western Meadowlark,Goldenrod
Kansas,Topeka,Wichita,Western Meadowlark,Native Sunflower
Montana,Helena,Billings,Western Meadowlark,Bitterroot
Washington,Olympia,Seattle,Willow Goldfinch,Western Rhododendron
Alaska,Juneau,Anchorage,Willow Ptarmigan,Forget-me-not
"Washington, D.C.",None,Washington,Woodthrush,American Beauty Rose
Alabama,Montgomery,Birmingham,Yellowhammer,Camellia

In [43]:
# 5. Here is the numbers DataFrame again:

numbers = [[15, 13, 11, 15, 10, 18,  3],
       [19, 12,  5, 16,  7,  3, 15],
       [15, 10,  1,  0,  9,  0,  8],
       [ 0,  7, 11, 14,  8,  5, 17],
       [ 5,  4,  9,  0, 16,  9, 15],
       [12, 13,  7, 13, 11, 12,  7],
       [ 4,  3,  1,  9, 18, 18,  6],
       [ 7,  1, 13,  0,  9,  2,  0],
       [ 8, 18,  9, 15,  5,  9, 15],
       [ 0, 14, 17,  8, 10,  7,  0],
       [12,  4,  7,  3,  0,  9, 11],
       [ 3,  8, 19,  8,  8, 19,  3],
       [13, 12,  8,  2,  4,  6, 18],
       [16, 15,  8,  4, 11, 18, 12],
       [10, 18,  3, 18,  4, 13,  8],
       [17,  4, 17,  1, 11, 12, 11],
       [ 7, 11, 14, 11,  4, 14, 18],
       [ 6, 10,  4,  9,  6, 19, 16],
       [16, 13,  0, 19, 18, 19, 17],
       [ 1, 11,  0, 12, 12,  8,  1],
       [11,  3, 14,  9,  6,  0, 19],
       [14, 14, 15, 19, 12,  9,  3],
       [14,  1,  7,  5,  1, 18, 18],
       [18,  5, 16, 18, 14,  6, 16]]

number_frame = pd.DataFrame(numbers, columns = ["Mon","Tues","Wed","Thurs","Fri","Sat","Sun"])

> Sort Friday's column to see which hour has the largest value on Friday.

In [44]:
number_frame.sort_values("Fri", ascending=False).head()

    Mon  Tues  Wed  Thurs  Fri  Sat  Sun
6     4     3    1      9   18   18    6
18   16    13    0     19   18   19   17
4     5     4    9      0   16    9   15
23   18     5   16     18   14    6   16
21   14    14   15     19   12    9    3

Hours 6 and 18 have the largest numbers on Fri: 18.