## Exercises Lab11 Applying Functions

`1`. Here is a `list` of names:

```python
names = ["Mary Jane Fry", "Tony Rodriguez", "Sam Lam Hing Wong", "Arden Janson"]
```
Sort the `names` list by the number of names in the whole name.

In [17]:
def SortByNoNames(names):
    names.sort(key=lambda n:len(n.split()))

def SortByNoNames(names):
    def SortKey(name):
        return len(name.split())
    names.sort(key=SortKey)

def main():
    names = ["Mary Jane Fry", "Tony Rodriguez", "Sam Lam Hing Wong", "Arden Janson"]
    SortByNoNames(names)
    print(names)
main()

['Tony Rodriguez', 'Arden Janson', 'Mary Jane Fry', 'Sam Lam Hing Wong']

`2.` Put these restaurants in a dataframe and sort them by the number of stars, with the greatest number of starts first:
```python
restaurants = [["Restaurant", "Favorite Dish", "Stars"],
               ["Cozumel", "Swordfish", "***"],
               ["Palapa", "Fried Snapper", "*****"],
               ["El Zapote", "Carne En Su Jugo", "****"]]
```

In [18]:
import pandas as pd
restaurants = [["Restaurant", "Favorite Dish", "Stars"],
               ["Cozumel", "Swordfish", "***"],
               ["Palapa", "Fried Snapper", "*****"],
               ["El Zapote", "Carne En Su Jugo", "****"]]
restaurants_frame = pd.DataFrame(restaurants[1:], columns=restaurants[0])
restaurants_frame.set_index(["Restaurant"], inplace=True)
restaurants_frame

               Favorite Dish  Stars
Restaurant
Cozumel            Swordfish    ***
Palapa         Fried Snapper  *****
El Zapote   Carne En Su Jugo   ****

In [19]:
restaurants_frame["Sort By"] = restaurants_frame["Stars"].apply(lambda stars:len(stars))

restaurants_frame = restaurants_frame.sort_values(
    by="Sort By", ascending=False)[["Favorite Dish", "Stars"]]
restaurants_frame

               Favorite Dish  Stars
Restaurant
Palapa         Fried Snapper  *****
El Zapote   Carne En Su Jugo   ****
Cozumel            Swordfish    ***